<?xml version="1.0" encoding="UTF-8"?>

<widget>

    <name>techgym</name>

    <description>
        Controle de treinamento
    </description>

    <author email="joaoalissonsobral@gmail.com">
        João Alisson
    </author>

    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
    -->
    <feature name="techgym" />

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>


</widget>
